<%- include("partials/header") -%>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ParallelPlayer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled">Disabled</a>
        </div>
      </div>
    </div>
  </nav>

<!-- ---------------end of navbar--------------------- -->

<div class="frame">

  <div class="input-group mb-3">
    <input type="text" id="url" class="form-control" placeholder="Enter youtube url" aria-label="url" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button id="url-btn" class="btn btn-dark" type="button">Search</button>
    </div>
  </div>

    <div id="player"></div>

    <div id="progress">
      <div id="bar">
        <span></span>
      </div>
    </div>
  <ul>
    <li><button class="btn btn-dark" id="play"><i class="fa fa-solid fa-play"></i></button></i></li>
    <li><button class="btn btn-dark" id="pause"><i class="fa fa-solid fa-pause"></i></button></li>
  </ul>
  
</div>




<%- include("partials/footer") -%>
