<%- include("partials/header") -%>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ParallelPlayer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
        </div>
      </div>
      <form class="room-bar d-flex input-group">
        <input type="search" id="room" value="" class="room-input form-control" placeholder="Enter custom room">
      <button id="room-btn" class="btn btn-outline-success" type="button">Join</button>
      </form>
    </div>
  </nav>

<!-- ---------------end of navbar--------------------- -->

<div class="frame">

  <div class="url-bar input-group mb-3">
    <input type="search" id="url" class="url-input form-control" placeholder="Enter youtube url">
      <button id="url-btn" class="btn btn-dark" type="button">Play</button>
  </div>

    <div id="player"></div>

    <div id="progress">
      <div id="bar">
        <span></span>
      </div>
    </div>

    <div class="playPause btn-group" role="group">
      <button type="button" class="btn btn-dark" id="play"><i class="fa fa-solid fa-play"></i></button>
      <button type="button" class="btn btn-dark" id="pause"><i class="fa fa-solid fa-pause"></i></button>
    </div>
  
</div>




<%- include("partials/footer") -%>
