<%- include("partials/header") -%>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ParallelPlayer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled">Disabled</a>
        </div>
      </div>
    </div>
  </nav>

<!-- ---------------end of navbar--------------------- -->

<div class="frame">

    <input id="url" class="form-control" type="text" placeholder="Enter youtube url">

  <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>

<ul>
  <li><button id="play">Play</button></li>
  <li><button id="pause">Pause</button></li>
</ul>
<div id="progress">
  <div id="bar">
    <span></span>
  </div>
</div>

</div>




<%- include("partials/footer") -%>
