<%- include("partials/header") -%>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ParallelPlayer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a> -->
        </div>
      </div>
      <form class="room-bar d-flex input-group">
        <input type="search" id="room" value="" class="room-input form-control" placeholder="Enter custom room">
      <button id="room-btn" class="btn btn-outline-success" type="button">Join</button>
      </form>
    </div>
  </nav>

<!-- ---------------end of navbar--------------------- -->


<div class="ytplayer frame">
  <div class="url-bar input-group mb-3">
    <input type="search" id="url" class="url-input form-control" placeholder="Enter youtube url">
      <button id="url-btn" class="btn btn-dark" type="button">Play</button>
  </div>

    <div id="player"></div>

    <div id="progress">
      <div id="bar">
        <span class="dot"></span>
      </div>
    </div>
    <!-- <input id="progress" type="range" min="0" max="100" step="0.01" value="0" /> -->
    
    <div class="time">
      <p id="current-time">00:00</p><p id="total-time"></p>
    </div>

  <div class="ctrls">
    <div class="playPause btn-group" role="group">
      <button type="button" class="btn btn-dark" id="play"><i class="fa fa-solid fa-play"></i></button>
      <button type="button" class="btn btn-dark" id="pause"><i class="fa fa-solid fa-pause"></i></button>
    </div>
    <div class="vol-rate">
      <div class="vol">
      <label for="volume">Vol:</label>
    <input id="volume" class="form-range" type="range" min="0" max="100" step="1" value="50" /><span class="val vol"></span>
      </div>
      <div class="playback-rate ">
      <select id="rate" class="btn-dark form-select" aria-label="Default select example">
        <option value="2">2</option>
        <option value="1.5">1.5</option>
        <option value="1" selected>1</option>
        <option value="0.5">0.5</option>
        <option value="0.25">0.25</option>
      </select>
      </div>  
    </div>
  </div>  
</div>




<%- include("partials/footer") -%>
