* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', 'sans-serif';
    background-color: #777777;
}

#player {
    margin: auto;
    width: 100%;
}

.frame {
    margin: auto;
    width: 50%;
    margin-top: 50px;
}

.url-bar {
    margin-bottom: 10px;
}

.room-bar {
    width: 25%;
}

.time {
    display: flex;
    flex-direction: row;
}

#progress {
    width: 100%;
    background-color: grey;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #bar {
    width: 1%;
    height: 0.5em;
    margin: 1em 0 0.5em 0;
    background-color: #c50303;
    border-radius: 5px;
  }

@media (max-width: 900px) {
    .frame {
        width: 100%;
    }
    #progress {
        width: 98%;
        position: relative;
        left: 1%;
      }
    #bar{
        padding: 0 1% 0 1%;
    }
    .playPause {
        margin-left: 1%;
    }
    .url-bar{
        padding: 0 2.2% 0 2.2%;
    }

    .room-bar {
        margin-top: 3%;
        width: 100%;
    }
}